{% extends 'base.html' %}
{% load static %}
{% block title %}About us{% endblock %} 


{% block content %}
<div class="d-flex justify-content-center mt-5" >

    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="{% static 'images/1.png' %}" alt="Card image cap">
        <hr>
        <div class="card-body">
            <p class="card-text">This website is build by abbas kareem: to contact my: call me on (07815547952) </p>
            <p class="card-text">my github: <a href="https://github.com/abbasKareem" target="_blank">Git Hub</a></p>
        </div>
    </div>
</div>

{% endblock %}
