{% extends "base.html" %}
{% load static %}
{% load humanize %}
{% block title %}
{% if category %}{{ category.title }}{% else %}Items{% endif %}
{% endblock %}
{% block content %}


<main>
  <div class="album py-5 bg-light">
    <div class="container">

      <div class="pb-3 h5">{{category.title|title}}</div>
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-5 g-3">

        {% for product in products %}

        <div class="col">
          <div class="card shadow-sm">
            <div class="card-body">
                <p class="card-text text-center">
                  <a class="text-dark text-decoration-none"  href="{{ product.get_absolute_url }}">
                      <span style="color: rgb(141, 3, 3); font-weight: 500; font-size: larger;">{{ product.name|slice:":50" }}</span> 
                  </a>
                  <hr>
                </p>
                <p class="text-center">
                  <span style="color: rgb(148, 21, 207);" >category: </span>
                  <span style="color: rgb(207, 21, 21);" > {{ product.category }}</span>
                  </p>
              <p  class="text-center">Quantity: {{ product.quantity }}</p>
                <div class="d-flex justify-content-between align-items-center">
                  <small class="text-muted">{{ product.created_at }}</small>
                </div>
                <a href=" {% url 'ecomapp:addtocart' product.id %} " class='btn btn-info my-3'>Add To Cart</a>
              </div>
          </div>
        </div>

        {% endfor %}

      </div>
    </div>
  </div>


</main>

{% endblock %}