
{% extends 'base.html' %}
{% load humanize %}
{% block title %}Order Detail {% endblock %}

{% block content %}


<style>

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid blue;
  border-right: 16px solid green;
  border-bottom: 16px solid red;
  width: 12px;
  height: 12px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


    #customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    }

    #customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
    }

    #customers tr:nth-child(even){background-color: #f2f2f2;}

    #customers tr:hover {background-color: #ddd;}

    #customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #d14c0e;
    color: white;
    }





	.jira_style {
		 background-color: green;
	}
	.text_color_approved {
		background-color: rgb(11, 129, 0);
		color: white;
		border-radius: 2px;
		padding: 4px;
	}
	.text_color_inBox {
		background-color: rgb(0, 118, 129);
		color: white;
		border-radius: 2px;
		padding: 4px;
	}
	.text_color_cancel {
		background-color: rgba(253, 6, 6, 0.656);
		color: white;
		border-radius: 2px;
		padding: 4px;

	}

	.fontBold{
		font-weight: bold;
	}


</style>

    
<div class="container">
    <div class="row">
        <div class="col-md-8 mx-auto">

          <div>
            <h3>Order Detail</h3> 
            <a href="javascript:history.go(-1)" class="btn btn-light">Back</a>
          </div>
          <hr>
            <p>
                <span class="fontBold">Order Status: </span>

                {% if ord_obj.order_status == 'In Box' %}
                    <span class="fontBold text_color_inBox" >{{ord_obj.order_status}}</span>

                {% endif %}
                {% if ord_obj.order_status == 'Approved' %}
                <span class="fontBold text_color_approved" >{{ord_obj.order_status}}</span>
                {% endif %}
                {% if ord_obj.order_status == 'Caneled' %}
                <span class="fontBold text_color_cancel" >{{ord_obj.order_status}}</span>
                {% endif %}

                {% if ord_obj.order_status == 'Caneled' %}
                <div class="alert alert-danger" role="alert">
                    Your order Canceled, Please contact the manager.
                  </div>
                {% endif %}

            </p>
            <div class="row mb-2 mx-auto" >
                <p class="mr-3">Download order: </p>
                
                <!-- <a href="{% url 'ecomapp:download-order' ord_obj.id %}" >
                 <button class="btn btn-primary" {% if ord_obj.order_status != 'Approved' %} disabled {% endif %}>
                {% if ord_obj.order_status != 'Approved' %}
                        <div class="loader"></div>
                {% else %}
                Download
                {% endif %}
                </button> 
                 </a> -->
                 {% if ord_obj.order_status == 'Approved' %}
                <a href="{% url 'ecomapp:download-order' ord_obj.id %}" >
                 <button class="btn btn-primary" >

                Download
              </button> 
            </a>

            {% else %}
            <button  class="btn btn-primary"  disabled >Download</button> 
            {% endif %}
                
            </div>
            <hr>
            <p><span class="fontBold">Order ID: </span>#ORDER_{{ord_obj.id}}</p>
            <span class="fontBold" >Order status:  {{ord_obj.order_status}}</span>
            <p><span class="fontBold">Order On: </span>{{ord_obj.created_at}} ({{ord_obj.created_at|timesince}})</p>
            <p><span class="fontBold">Customer Informations: </span>By: {{ord_obj.ordered_by}}</p>
            <p> <span  class="fontBold" >Order Jira Number :</span> <span style="background-color: #99e4d3; padding-left: 10px; padding-right: 10px; padding-top: 2px; padding-bottom: 4px;">{{ord_obj.jira_number}}</span></p>



            <hr>

            <h4>Order Items</h4>
            <table id="customers">
                <thead>
                    <tr>
                        <th>SN</th>
                        <th>Item</th>
                        <th>Quantity</th>
                        
                        
                    </tr>
                </thead>
                <tbody>
                    {% for cp in ord_obj.cart.cartproduct_set.all %}
                        <tr>
                            <td>{{ forloop.counter}}</td>
                            <td><a target="_blank" href="{% url 'ecomapp:productdetails' cp.product.slug %}">{{cp.product.name|slice:":20"}}</a></td>

                            <td>{{cp.quantity}}</td>
                
                        
                        </tr>
                    {% endfor %}
                    
                </tbody>
            </table>
        </div>
    </div>
</div>


	<script>
		function downloadPDF() {
  $.ajax({
    type: "GET",
    url: '/generate-pdf/',
    success: function(response) {
      var a = document.createElement("a");
      a.href = window.URL.createObjectURL(new Blob([response], {type: "application/pdf"}));
      a.download = "template.pdf";
      document.body.appendChild(a);
      a.click();
      document.body.removeChild(a);
    }
  });
}
	</script>
{% endblock %}