{% extends 'base.html' %}

{% load humanize %}
{% block title %}Home{% endblock %}

{% block content %}


<div class='container'>
  {% if request.user and not request.user.is_anonymous %}

  <h1 class='text-center'>Welcome <span class="text-info">{{ request.user }}</span> </h1>


  

  {% else %}
  <h1 class='text-center'>Welcome to Invantory website</h1>
  {% endif %}
    <hr>


    {% if request.user and not request.user.is_anonymous %}


    <div class="alert alert-success" role="alert">
      <p class="text-center">
      Filter Product by Categories...
      </p>
    </div>
  
    <nav class="container-sm mt-3 ">
      {% for c in all_category %}
     
          <a class='btn btn-info mb-3' href="{{ c.get_absolute_url }}">{{ c.title|title }}</a>
  
      {% endfor %}
    </nav>
     <hr>

    <div class="alert alert-primary mt-5" role="alert">
      <p class="text-center">
      Search For Product by name...
      </p>
    </div>
  

    <form action="{% url 'ecomapp:search' %}" method="GET" class="form-inline mx-md-auto">
      <input type="text" name="keyword" class="form-control mr-sm-2" placeholder="Search" aria-label="Search" required>
      
        <button class="btn btn-outline-success my-2 my-sm-5 " type="submit">Search</button>
      
    </form>
  




  
    {% else %}
    <h1 class='text-center'>Please Login ... <a href="{% url 'ecomapp:customerlogin' %}">Login</a></h1>
    
    {% endif %}




</div>
{% endblock %}
