<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <title>{%block title%} {%endblock%}</title>
  </head>
  <body>
    <nav class="container-sm mt-3 ">
      <a class='btn btn-info' href="{% url 'ecomapp:adminhome' %}">Home</a> |
      <a class='btn btn-info' href="{% url 'ecomapp:adminorderslist' %}">All Orders</a> |
      <a class='btn btn-info' href="{% url 'ecomapp:adminproductlist' %}">All Products</a> |
      <a class='btn btn-info' href="{% url 'ecomapp:home' %}" target="_blank" >Visit Home</a> |

    </nav>

    {% block content%} {% endblock %}
  </body>
</html>
